[Unit]
Description=Elastic Search Exporter package based on github.com/prometheus-community/elasticsearch_exporter
After=network.target
Documentation=https://github.com/prometheus-community/elasticsearch_exporter

[Service]
Type=simple
ExecStart=/usr/bin/es-exporter --log.format=logfmt --log.level=info --es.all --es.indices --es.indices_mappings --es.indices_settings --es.shards
TimeoutStopSec=0
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
Alias=es-exporter.service